.card-producto img{
    width: 100px;
    height:100px;  
    border-radius:6px;
}

.card-producto{
    border: 2px solid;
    padding: 5px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background:white;
    border-radius:8px;
    border-color: grey;
}



#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav { 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
    padding:12px 24px; 
    background:green; 
    color:white; 
}

#contenedor-carrito{
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

.bloque-item { 
    display:flex; 
    justify-content:space-between; 
    align-items:center; 
    padding:10px 10px; 
    border-bottom:1px solid #eee; 
}


.boton-eliminar { 
    padding:4px 6px; 
    border-radius:7px; 
    cursor:pointer;
    background-color: red;
    color: #eee;
    border-color: #eee;
}

#vaciar-carrito{
    padding: 5px;
    margin-top: 160px;
    background-color: red;
    color: #eee;
    border-color: #eee;
    border-radius: 7px;
}

#agregar-carrito{
    background-color: green;
    color: #eee;
    border-color: #eee;
    border-radius: 7px;
    border-top: 10px;
}

#contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#contenedor-ordenamientos{
    display: flex;
    justify-content: center;
}

#total-Carrito {
    position: fixed;   
    bottom: 15px;      
    right: 15px;       
    font-size: 18px;
    padding: 8px 12px;
    border-radius: 8px;
}  