body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0A0A0A;
    color: white;
}


ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    
}



/*Encabezado*/

nav {
    width: 100%;
    padding: 12px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
    width: 50%;
}

/*main*/
#contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    border: 1px solid #7000FF;
    box-shadow: #483561;
    border-radius: 12px;
    width: 300px;
    height: 300px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(112, 0, 255, 0.4);
}

.card-producto:hover{
    transform: translateY(-5px);
    box-shadow: 0 0 25px rgba(112, 0, 255, 0.7);
}


.card-producto img {
    width: 130px;
}


#lista-productos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.li-listados {
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
}

.li-listados img {
    width: 60px;
}

.li-listados p, .li-listados img {
    margin-bottom: 0;
}

.li-botonera {
    width: 20%;
    display: flex;
    align-items: center;
}

#getProduct-form {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

h1:hover {
    color: #7000FF;
}


hr{
    margin: 0px auto;
    width: 90%; 
    border: 0;
    border-top: 1px solid #444; 
    margin-bottom: 20px;
    border: 0; 
    height: 2px;
    background-image: linear-gradient(
        to right,                 
        rgba(112, 0, 255, 0),     
        rgba(112, 0, 255, 0.75),  
        rgba(112, 0, 255, 0)      
    );
}


a {
    text-decoration: none;
    color: #E0E0E0;
    font-size: 17px;
}

a:hover{
    color: #7000FF;
}

#logo-pagina{
    width: 120px;
    height: 120px;
    padding: 0%;
    margin: 0%;
}

.contenedor-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
