<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

    <main>
    <h1>Lista de productos</h1>
        <div class="contenedor-logo">
        <img src="img/logo-final.png" id="logo-pagina">
        </div>
        <hr>
        <div id="contenedor-productos"></div>
    </main>
    
<%- include("partials/footer.ejs") %>