<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>
    <link rel="stylesheet" href="css/modificar.css">
    <link rel="icon" type="image/png" href="img/icono-robot.png">
    <main>
        <h1>Modificar producto</h1>
        <div class="contenedor-logo">
        <img src="img/logo-final.png" id="logo-pagina">
        </div>
        <hr>
        
        <form id="getProduct-form">
            <label for="idProd">Id del producto</label>
            <input type="number" name="idProd" id="idProd" required>
        
            <input type="submit" value="Consultar producto" id="estilo-botones">
        </form>
        
        <div id="contenedor-productos">
            <ul id="lista-productos"></ul>
        </div>
        
        <!-- Contenedor para renderizar el formulario para actualizar el producto existente -->
         <div id="contenedor-update"></div>
    </main>

<script src="js/update.js"></script>
<%- include("partials/footer.ejs") %>